*{
	box-sizing: border-box;
}
body{
	position: relative;
	margin: 0 auto;
	padding:0;
	min-width: 320px;
	font-family: 'Open Sans', sans-serif, arial;
	background: radial-gradient(ellipse, #b4d174, #164834);
}
nav{
	height: 98px;
}
img{
	width: 100%;
	margin: 16px auto;
	display: block;
}

.wrap{
	min-height: 100%;
	min-width: 320px;
	max-width: 960px;
	margin: auto;
    position: relative; 
}
.wrap_perspective{
	background-color: #fff;
	margin: 0 auto;
	padding: 16px 0;
}
.logo{
	width: 136px;
	padding: 2px;
	display: flex;
	align-items: center;
	float: right;
}
.logo::before{
	content: '';
	display: block;
	background-image: url(images/logo.png);
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}
.logo::after{
	content: '';
	display: block;
	clear: both;
}
.logo_descr{
	font-size: 22px;
	font-weight: bold;
	text-indent: 8px;
}
input[type="checkbox"]{display: none;}
.toggle_menu {
    display: block;
    float: left;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 16px;
    z-index: 5;
}
#nav_toggle:checked+.toggle_menu::after{
	transform: rotate(-45deg);
	margin-top: -8px;
}
#nav_toggle:checked+.toggle_menu::before{
	transform: rotate(45deg);
	border-bottom: none;
}
#nav_toggle:checked~.header_menu{
	display: flex;
	flex-direction: column;
	opacity: 1;
	transition: all linear .3s;
	z-index: 1;
}
#nav_toggle:checked~.header_menu a:hover{
	border-left: 2px solid #000;
	margin-left: -4px;
	padding-left: 2px;
}
.active{
	border-left: 2px solid #000;
	margin-left: -4px;
	padding-left: 2px;
}
.toggle_menu::before, .toggle_menu::after {
    content: '';
    display: block;
    border-bottom: 2px solid #ccc;
    transition: all linear .3s;
    padding: 2px;
}
.toggle_menu::before{
	border-top: 2px solid #ccc;
}
.header_menu{
	text-transform: capitalize;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	opacity: 0;
	position: relative;
	z-index: -1;
	padding-top: 32px;
	padding-left: 16px;
}
.header_menu a{
	text-decoration: none;
	font-size: 14px;
	color: #000;
}
.logo_big{
	display: block;
	position: relative;
	background-image: url(images/logo_content.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: auto;
	margin: 0 auto 8px;
	height: 0;
	padding: 15%;
}
.logo_big::after{
	content: 'For mac';
	display: block;
	position: absolute;
	bottom: -16px;
	right: 8px;
}
.content{
	flex-direction: column;
	background-color: #f5f9f7;
	margin: 48px auto;
	padding: 72px 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.second_block{
	justify-content: space-between;
	align-items: center;
	padding: 72px 128px;
}
.features_text{
	max-width: 480px;
}
article h1, article p, article h2{
	text-align: center;
	padding:0 16px;
	max-width: 640px;

}
article{
	padding: 8px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.btn{
	width: 160px;
	background-color: #347a51;
	border: 0;
	-webkit-appearance: none;
	font-size: 30px;
	font-weight: lighter;
	padding: 4px;
	text-transform: capitalize;
}
.btn:focus{
	outline: none;
}
.btn:hover{
	background-color: #87a861;
	color: #fff;
	cursor: pointer;
}
.logo_img{
	display: block;
	width: 286px;
	padding: 8px;
	display: flex;
}
.logo_img::before{
	content: '';
	display: block;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	width: 82px;
	height: 92px;
	margin-left: -8px;
}
.logo_img::after{
	display: block;
	content: 'EyeLeo';
	font-size: 58.77px;
	font-weight: lighter;
}
.copyright{
	margin: 0;
	padding: 8px;
}
.footer{
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
}
.footer_wrap{
	margin: 16px 0;
	display: flex;
	align-self: center;
	flex-direction: column;
}
.footer_menu{
	text-transform: capitalize;
	width: auto;
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	position: relative;
	margin:16px auto;
}
.footer_menu li{
	text-align: center;
	margin: 0 16px;
	float: left;
}
.footer_menu a{
	text-decoration: none;
	font-size: 14px;
	padding: 6px 4px;
	color: #000;
}
.footer_menu a:hover{
	border: #000 solid 2px;
	margin: -2px;
}
.fb:hover{
	margin-top: -2px;
}
.g_plus:hover{
	margin-top: -2px;
}
.tw:hover{
	margin-top: -2px;
}
.social_ntw{
	display: flex;
	align-self: center;
}
.fb::after{
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 24px;
}
.g_plus::after{
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -62px 0px;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	margin: 0 24px;
}
.tw::after{
	content: '';
	display: block;
	background-image: url(images/sprite.png);
	background-position: -124px 0px;
	background-repeat: no-repeat;
	width: 52px;
	height: 50px;
	margin: 0 24px;
}

.copyright{
	font-size: 14px;
	text-align: center;
}
.animate{
	display: flex;
	margin: auto;
}
.footprints_1::before, .footprints_2::before, .footprints_3::before, .footprints_4::before, .footprints_5::before, .footprints_6::before{
	    content: '';
    display: block;
    background-image: url(images/footprint.png);
    width: 48px;
    height: 48px;
    margin: 0 8px;
    background-repeat: no-repeat;
    background-size: 80%;
    opacity: 0;
    background-position: center;
}
.footprints_1::before{
	animation: opacity 1s infinite linear;
}
.footprints_2::before{
	animation: opacity 1s infinite linear;
	animation-delay: 1s;
}
.footprints_3::before{
	animation: opacity 1s infinite linear;
	animation-delay: 2s;
}
.footprints_4::before{
	animation: opacity 1s infinite linear;
	animation-delay: 3s;
}
.footprints_5::before{
	animation: opacity 1s infinite linear;
	animation-delay: 4s;
}
.footprints_6::before{
	animation: opacity 1s infinite linear;
	animation-delay: 5s;
}

@media (min-width: 450px){
	.logo_big{
		width: 450px;
		height: 135px;
		padding: 0;
	}
}
@media (min-width: 550px) {
	.footer_wrap{
		flex-direction: row;
	}
}
@media (min-width: 720px) {
	.logo{
		float: left;
		justify-content: center;
	}
	.toggle_menu{display: none;}
	.header_menu{
		opacity: 1;
		display: flex;
		z-index: 5;
		float: right;
		padding: 16px 0 0 ;
	}
	.header_menu li{
		padding: 4px;
	}
	.header_menu a{
		padding:4px;
	}
	.header_menu a:hover{
		border: #000 solid 2px;
		margin: -2px;
	}
	.active{
		border: #000 solid 2px;
		margin: -2px;
		cursor: default;
	}
	.content{
		flex-direction: row;
	}
}
@media (min-width: 850px){
	.logo_big{
		margin: 0 0 8px;
	}
	.animate{
		position: absolute;
	right: 0;
	top: -50px;
	}
	.footprints_2::before{
		position: relative;
		top: -12px;
		transform: rotate(-15deg);
	}
	.footprints_3::before{
		position: relative;
		transform: rotate(15deg);
		right: -8px;
	}
	.footprints_4::before{
		position: relative;
		top: 48px;
		right: -8px;
		transform: rotate(70deg);
	}
	.footprints_5::before{
		position: relative;
		bottom: -112px;
		right: 32px;
		transform: rotate(80deg);
	}
	.footprints_6::before{
		position: relative;
		bottom: -176px;
		right: 96px;
		transform: rotate(112deg);
	}
}
@media (min-width: 960px){
	.second_block{
		padding: 72px 208px;
	}
}
@keyframes opacity{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}